# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# UV / Pip
uv.lock

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Project specific
inference_output/
model.pth
Images/
Labels/
